/* Based off of https://codepen.io/drehimself/pen/QNXpyp/ */
.card {
  background: white;
  width: 20em;
  height: 20em;
  display: inline-block;
  border-radius: 19px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px #6B36A0;
  margin:1.5em;
  overflow:hidden;
}

.card img {
  width: 100%;
  display: block;
  transition: all .2s ease;
}

.card:hover img, .cardActive img{
  margin-top:-25%;
}

.card .cardimage {
  position: relative; 
  overflow: hidden;
  height: 66%;
  border: 3px solid #6B36A0;
  border-radius: 19px;
  transition: all .2s ease;
}

.card:hover .cardimage, .cardActive .cardimage { 
  height: 33%;  
}

.card .content {
  min-height: 66% - 5em;
}

.card .cardmore {
  color:white;
  font-size: 2em;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 5em;
  background-color: #635BB8;
}

.cardActive {
  background: #635BB8;
  color:white;
}

.dataBoxClosed {
  transition: all .2s ease;
  height:0em;
}

.dataBox {
  background: #635BB8;
  color:white;
  padding: auto;
  font-size:5em;
  text-align:center;
  height: 5em;
  border-radius: 10px;
  display: inline-block;
  position: relative;
}