.title{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title img {
  margin:0 auto;
}

#profile {
  background: #7DA3CC;
  display: inline-block;
  border-radius: 19px;
  position: relative;
}

#profile ul a{
  color:#6B36A0;
}

/* override default color on profile button */
.nav-pills li.active a{
  background-color:#7DA3CC;
}