#terms {
	padding-left: 30px;
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 20px
}

#logo {
	width: 100px;
	height: 120px
}

#button {
	float: right
}

#term {
	float: right
}

#profile {
	float: left;
	width: 100px;
	height: 100px
}

#button {
	float: right
}

#footer {
	float: left
}

#nav {
	float: left;
	display: block;
	padding: 0px 10px;
}

#icon {
	float: right;
	display: block;
	padding: 0px 10px;
}

.info {
	max-width: 100%;
	border-style: solid;
	border-width: 3px;
	border-radius: 3px;
	background-color: #635BB8;
}

.form {
	display: inline-block;
	clear: both
}

nav {
	background-color: #6B36A0;
	height: 45px
}

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #7DA3CC
}

@media (max-width:768px) {
	#logo {
		width: 70px;
		height: 80px;
	}

}

@media (max-width:736px) {
	#logo {
		width: 70px;
		height: 80px;
	}

}

@media (max-width:414px) {
	#logo {
		width: 35px;
		height: 45px;
		margin-left: 40%;
	}

}