<body np-app="proquo">
    <div id="content">
        <div id="main-body">
            <p class="enormous-font bree-font">
                Oh no...
            </p>
            <p class="big-font">
                It looks like @<%= params[:username] %> isn't here right now. You should probably come back later.
            </p>
            <p class="big-font">
                Let's just go back to the
                <a href="/" class="underline">home page</a>.
            </p>
        </div>
    </div>
</body>
