<body np-app="proquo">
    <div id="content">
        <div id="main-body">
            <p class="enormous-font bree-font">
                User Doesn't Exist
            </p>
            <p class="big-font">
                This is just embarrassing; The User is not exist
            </p>
            <p class="big-font">
                Let’s return to the
                <a href="/" class="underline">HOME PAGE</a>
            </p>
        </div>
    </div>
</body>
