<div class="card hovercard">
    <div class="card-background">
        <img class="card-bkimg" alt="" src="<%= @user.avatar.url(:medium) %>">
    </div>
    <div class="useravatar">
        <img alt="" src="<%= @user.avatar.url(:medium) %>">
    </div>
    <div class="card-info"> <span class="card-title"><%= @user.username %></span>

    </div>
</div>
