<div class="container">

    <!--Import header content-->
    <%= render 'header' %>



    <div class="card hovercard">
        <div class="card-background">
            <img class="card-bkimg" alt="" src="http://lorempixel.com/100/100/people/9/">
            <!-- http://lorempixel.com/850/280/people/9/ -->
        </div>
        <div class="useravatar">
            <img alt="" src="http://lorempixel.com/100/100/people/9/">
        </div>
        <div class="card-info"> <span class="card-title"><%= @user.username %></span>

        </div>
    </div>







    <!--Import footer content-->
    <%= render 'footer' %>

</div>
